body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: #f7f7f7;
    display: grid;
    gap: 60px;
    justify-items: center;
    margin: 60px;

}
.header{
    display: grid;
    justify-items: center;
    gap: 60px;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;

}
p, h1, h2, h3{
    margin: 0px;

}
p{
    font-size: 20px;
    line-height: 1.3;
}
.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}
.menu a {
    background: #fff;
    padding: 15px 30px ;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase;
    display: block;
    border: 2px solid #fff;
}
.menu a:hover{
    border: 2px solid #e21;

}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;

}
.introducao{
    background: #fff;
    padding:40px;
    text-align: right;
    position: relative;
    display: grid;
    align-content:center ;
    justify-items: end;
    gap: 30px;

}
.introducao h1{
    font-size: 2rem;
}
.introducao::before{
    content: "";
    width: 60px;
    height: 4px;
    background: #e21;
    position: absolute;
    top: 30px;
    right: -30px;



}

.introducao-cover img{
    object-fit:cover ;
    height: 100%;


}

.botao{
    background-color: #e21;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
}
.botao:hover{
    background:#900;
}
.subtitulo{
    font-size: 60px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self: center;
    background-image: url(./img/onda.svg);
    word-break: break-all;


}
.vantagem{
    background: #fff;
    padding: 40px;
}
.vantagem-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}
.vantagem-item:nth-child(odd){
    background-color: #f7f7f7;
}
.vantagem-item:hover{
    border-left: 2px solid #e21;
}

.vantagem-item p{
    grid-column: 2;

}
.rodape{
    background: #f1f1f1;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}
@media(max-width:900px){
.conteudo{
    display: grid;
    grid-template-columns: 1fr;
    

}
.subtitulo{
    text-align: center;
}
.introducao::before{
    display: none;
}


}
@media (max-width:600px){
   .conteudo{
       grid-template-columns: 1fr;
   } 
   .introducao::before{
       display: none;
   }
   body{
       gap: 30px;
       margin-top: 20px;
       
   }
   .header{
       gap: 30px;
   }
   .introducao{
       justify-items: start;
   }
   .introducao p{
       font-size: 1rem;
       text-align: left;
   }

   .label-introduçao{
       text-align: center;

   }
        .subtitulo{
            font-size: 3rem;
        }
}